<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.tarena.ht.mapper.RoleMapper">
	
	<!--查询角色全部信息  -->
	<!-- <select id="findAll" resultType="Role">
		select * from role_p
	</select> -->
	
	<insert id="saveRole" >
		insert into role_p values(
			#{roleId},
			#{name},
			#{remarks},
			#{orderNo},
			#{createBy,jdbcType=VARCHAR},
			#{createDept,jdbcType=VARCHAR},
			#{createTime,jdbcType=DATE},
			#{updateBy,jdbcType=VARCHAR},
			#{updateTime,jdbcType=DATE}
		)
	</insert>
	
	<!--角色修改  -->
	<update id="update">
		update role_p 
			<set>
				name = #{name},
				remarks = #{remarks},
				order_no = #{orderNo},
				<if test="createBy !=null">create_by = #{createBy},</if>
				<if test="createDept !=null">create_Dept = #{createDept},</if>
				<if test="createTime !=null">create_Time = #{createTime},</if>
				<if test="updateBy !=null">update_by = #{updateBy},</if>
				<if test="updateTime !=null">update_Time = #{updateTime}</if>
			</set>
			where role_id = #{roleId}
	</update>
	
	
	<delete id="deleteRoles">
		delete from role_p where role_id in(
			<foreach collection="array" item="id" separator=",">
				#{id}
			</foreach>
		)
	</delete>
	
	
	<!--查询单个数据  需要添加返回值类型  否则报错-->
	<select id="findRoleListByUserId" resultType="string">
		select role_id from role_user_p where user_id=#{userId}
	</select>
	
	<!--管理删除中间表数据  -->
	<delete id="deleteR_M">
		delete from role_module_p where role_id in(
			<foreach collection="array" item="id" separator=",">
				#{id}
			</foreach>
		)
	</delete>
</mapper>